body{
  font-family: 'Roboto', sans-serif;
}
.bg-custom {
  background-color:  #73407f !important;
}
.bg-custom-2 {
  background-color:  #f06 !important;
}
.text-custom {
  color: #f06 !important;
  /* color: */
}
.text-custom-2 {
  color: #73407f !important;
  /* color: */
}